<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- font-family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <!-- ogp -->
  <meta content="これはOGP" property="og:title">
<meta content="summary_large_image" name="twitter:card">
<meta content="./ogp.png" property="og:image">
<meta content="http://127.0.0.1:5500/" property="og:url">`
</head>
<body>
  <div id="app">
    <v-app id="inspire">
      <v-app-bar app color="white" flat>
        <v-container class="py-0 fill-height">
          <v-avatar class="mr-10" color="grey darken-1" size="48"></v-avatar>予定表ジェネレーター
          <v-spacer></v-spacer>
        </v-container>
      </v-app-bar>

      <v-main class="grey lighten-3">
        <v-container v-if="displayFlg" class="" ><v-col align="center">
          <v-sheet max-width="540px" class="pa-0 mb-6 transparent" id="canvasContent">
            <canvas id="canvas"></canvas>
          </v-sheet>
          <v-sheet
            max-width="540px"
            elevation="5"
          >
            <v-timeline
              align-top
              dense
            >
              <v-timeline-item
                v-for="(plan, index) in plans"
                :key="plan.id"
                small
                :color="index % 2 ? 'teal' : 'pink'"
              >
                <v-row class="pt-1">
                  <v-col cols="3">
                    <strong>{{plan.fromTime}}</strong>
                  </v-col>
                  <v-col>
                    <strong>{{plan.name}}</strong>
                    <div class="text-caption mb-2">
                      <v-icon class="text-caption">mdi-clock-outline</v-icon>{{plan.fromTime}}〜{{plan.toTime}}
                    </div>
                  </v-col>
                </v-row>
              </v-timeline-item>
            </v-timeline>
          </v-sheet>
        </v-col></v-container>

        <v-container><v-col align="center">
          <v-sheet
            max-width="540px"
            rounded="lg"
            class="mt-6 pa-4"
            elevation="5"
          >
            <v-row align-content="center" class="my-4">
              <v-col align="center">
                <div class="title font-weight-bold black--text">予定を入力して素敵な予定を決めよう！</div>
                <template v-if="displayFlg">
                  <v-btn @click="displayFlg = false" class="red font-weight-bold white--text mt-4">予定を編集する</v-btn>
                  <v-text-field v-model="url" label="共有URL" class="ma-0" @focus="selectAllText"></v-text-field>

                </template>
              </v-col>
            </v-row>

            <template v-if="!displayFlg">

            
              <v-card class="my-2 col-12" v-for="(item, index) in plans" :key="item.id">
                <v-card-text class="pa-0 planList">
                  <v-list-item class="pa-0">
                    <v-list-item-content>
                      <v-row align="center">
                        <v-col align-content="center" class="py-0">
                          <v-select hide-details = "true" :items="canSelectTime" v-model="item.fromTime" @change="setToTime(index, 2)" label="時刻" class="ma-0"></v-select>
                        </v-col>
                        <v-col cols="1" class="pa-0">
                          〜
                        </v-col>
                        <v-col>
                          <v-select hide-details = "true" :items="canSelectTime" v-model="item.toTime" label="時刻" class="ma-0"></v-select>
                        </v-col>
                      </v-row>
                      <v-text-field v-model="item.name" label="予定" :counter="20" class="ma-0"></v-text-field>
                    </v-list-item-content>
                  </v-list-item>
                </v-card-text>
                <v-card-actions class="pa-0">
                  <v-icon @click="upContent(index)">mdi-arrow-up-bold</v-icon>
                  <v-icon @click="downContent(index)">mdi-arrow-down-bold</v-icon>
                  <v-row align="center" justify="end">
                    <v-icon @click="deleteContent(item.id)" class="mr-2">mdi-trash-can-outline</v-icon>
                  </v-row>
                </v-card-actions>
              </v-card>

              <v-row align-content="center">
                <v-col class="col-lg-8 col-12" align="center">
                  <div class="mb-4 title font-weight-bold green--text text-center">設定</div>
                    <v-text-field v-model="planTitle" label="タイトル" :counter="20" class="ma-0"></v-text-field>
                  <div class="mt-8 mb-4 font-weight-bold green--text text-center">要素の追加</div>
                  <v-row>
                    <v-col class="col-12 col-lg-4">
                      <v-btn outlined rounded size="x-large" @click="addContent">
                        <v-icon left>
                          mdi-plus
                        </v-icon>
                        予定を追加
                      </v-btn> 
                    </v-col>
                    <!-- <v-col class="col-12 col-lg-8">
                      <v-btn class="mx-1" @click="addMoving('徒歩')">🚶</v-btn>
                      <v-btn class="mx-1" @click="addMoving('車')" >🚗</v-btn>
                      <v-btn class="mx-1" @click="addMoving('電車')" >🚃</v-btn>
                      <v-btn class="mx-1" @click="addMoving('バス')" >🚌</v-btn>
                      <v-btn outlined rounded size="x-large" @click="addMoving('車')">
                    </v-col> -->
                  </v-row>
                  <div class="mt-6 text-center">
                    <v-btn @click="createSchedule" class="red font-weight-bold white--text mt-4">予定を作成する</v-btn>
                  </div>
                  <div class="mt-6 text-center">
                    <span class="mt-4 text-decoration-underline" @click="deleteSchedule" >スケジュールをリセットする</span>
                  </div>
                </v-col>
                <v-col class="col-lg-4 col-12">
                  <div class="title font-weight-bold black--text text-center">タイトル</div>
                </v-col>
              </v-row>
            </template>
          </v-sheet>
        </v-col></v-container>
      </v-main>
      <v-footer
        dark
        class="text-center"
      >
        <div class="pa-4 text-center">{{ new Date().getFullYear() }} — <strong>予定表ジェネレーター</strong></div>
      </v-footer>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- // sortable -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
        return {
          displayFlg : false,
          delimiter: ';;',
          headers: [
            {
              text: '予定',
              align: 'start',
              sortable: false,
              value: 'name',
            },
          ],
          canSelectTime: [
            '8:30',
            '9:00',
            '9:30',
            '10:00',
            '10:30',
            '11:00',
            '11:30',
            '12:00',
            '12:30',
            '13:00',
            '13:30',
            '14:00',
            '14:30',
            '15:00',
            '15:30',
            '16:00',
            '16:30',
            '17:00',
            '17:30',
            '18:00',
            '18:30',
            '19:00',
            '19:30',
            '20:00',
            '20:30',
            '21:00',
            '21:30',
            '22:00',
            '22:30',
            '23:00',
            '23:30',
            '24:00',
          ],
          url:'',
          planTitle: '',
          plans : [
          ],
        }
      },
      // //DOM生成後
      mounted() {
        const canvas = document.getElementById('canvas')
        const ctx = canvas.getContext('2d')
        const img = new Image();
        img.src = 'ogp.png'
        img.onload = () => {
          // 画像の横幅と高さを取得
          const imageWidth = img.width;
          const imageHeight = img.height;

          // キャンバスの横幅を指定
          const canvasWidth = document.getElementById('canvasContent').clientWidth;

          // 横幅比を計算
          const aspectRatio = canvasWidth / imageWidth;

          // キャンバスの高さを計算
          const canvasHeight = imageHeight * aspectRatio;

          // キャンバスのサイズを設定
          canvas.width = canvasWidth;
          canvas.height = canvasHeight;

          // 画像をCanvas上に描画
          ctx.drawImage(img, 0, 0, canvasWidth, canvasHeight);
          ctx.font = "20px 'M PLUS Rounded 1c'";
          const text = this.planTitle
          const textWidth = ctx.measureText( text ).width ;
          ctx.fillText(text, (canvasWidth - textWidth) / 2, canvasHeight / 2);
        }

      },

      // DOM生成前
      created() {
        const queryParams = window.location.search
        if(queryParams) {
          const query = new URLSearchParams(queryParams)
          const queryList = Array.from(query.entries())
          for (let i=0; i < queryList.length; i++) {
            const planId = queryList[i][0]
            const planData = queryList[i][1]
            if(planId =='title') {
              this.planTitle = planData 
              continue
            }
            const planArr = planData.split(this.delimiter)
            console.log(planArr)
            let plan = {};
            plan.id = this.plans.length + 1
            plan.fromTime = planArr[0]
            plan.toTime = planArr[1]
            plan.name = planArr[2]
            this.plans.push(plan)
          }
          this.displayFlg = true
          
          this.url = window.location.href
        }

      },
      methods: {
        /**
         * 要素を追加する
         */
        addContent() {
          this.displayFlg = false
          const text = ''
          plan = this.createPlan(text)
          this.plans.push(plan);
        },
        addMoving(type) {
          const text = '移動('+ type +')'
          plan = this.createPlan(text)
          this.plans.push(plan);
        },
        createSchedule(){
          const DELIMITER =this.delimiter 
          this.displayFlg = true
          let queryParams = {};
          console.log(this.plans)
          queryParams['title'] = this.planTitle
          for (let i = 0; i < this.plans.length; i++) {
            const plan = this.plans[i]
            queryParams['p_'+i] = plan.fromTime + DELIMITER + plan.toTime + DELIMITER + plan.name
          }
          const urlParams = new URLSearchParams(queryParams);
          const url = `?${urlParams.toString()}`;
          console.log(url)
          window.location.href = url
        },
        deleteSchedule() {
          this.displayFlg = false
          const url = window.location.href;
          const new_url = url.replace(/\?.*$/,"");
          window.location.href = new_url
        },

        /**
         * 要素を削除する
         */
        deleteContent(id) {
          const res = confirm('削除しますか？')
          this.displayFlg = false
          if(!res) return
          this.plans = this.plans.filter(plan => plan.id !== id)
        },
        downContent (oldIndex) {
          if(oldIndex + 1 > this.plans.length ) return
          this.displayFlg = false
          const movedItem = this.plans.splice(oldIndex, 1)[0];
          console.log(oldIndex)
          this.plans.splice(oldIndex + 1, 0, movedItem);
        },
        upContent (oldIndex) {
          if(oldIndex - 1 < 0 ) return
          this.displayFlg = false
          const movedItem = this.plans.splice(oldIndex, 1)[0];
          this.plans.splice(oldIndex - 1, 0, movedItem);
          console.log(oldIndex)
        },
        setToTime(index, hour) {
          const plan = this.plans[index]
          const toTime = this.addHour(plan.fromTime, hour)
          this.plans[index].toTime = toTime
        },
        selectAllText(event) {
          event.target.select();
        }
      },
      computed: {
        addHour() {
          return (time, hour) => {
            // 入力された時間をDateオブジェクトに変換
            const inputDateTime = new Date(`2000-01-01 ${time}`);
            // 2時間を加算
            inputDateTime.setHours(inputDateTime.getHours() + hour);

            // 結果をフォーマットして出力
            const resultHours = inputDateTime.getHours().toString().padStart(2, '0');
            const resultMinutes = inputDateTime.getMinutes().toString().padStart(2, '0');
            const resultTime = `${resultHours}:${resultMinutes}`;

            console.log(resultTime);
            return resultTime;
          };
        },
        createPlan(text) {
          return (text) => {
            // 最新のIDを取得する
            const newestId = this.plans.length ? Math.max(...this.plans.map(item => item.id)) : 0 ;
            const newestPlan = this.plans.filter(plan => plan.id == newestId)
            let fromTime = ''
            let toTime = ''
            if(newestPlan.length) {
              fromTime = newestPlan[0].toTime
              toTime = this.addHour(newestPlan[0].toTime, 2)
            }
            const plan = {id: newestId + 1, fromTime: fromTime, toTime:toTime, name: text}
            return plan
          }
        }
      }
    })
  </script>
  <style>
    .v-application{
    font-family: "M PLUS Rounded 1c" !important;
  }
  </style>
</body>
</html>