<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- font-family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
    <v-app id="inspire">
      <v-app-bar app color="white" flat>
        <v-container class="py-0 fill-height">
          <v-avatar class="mr-10" color="grey darken-1" size="48"></v-avatar>予定表ジェネレーター
          <v-spacer></v-spacer>
        </v-container>
      </v-app-bar>

      <v-main class="grey lighten-3">
        <v-container v-if="displayFlg" class="pt-6" ><v-col align="center">
          <v-sheet elevation="1" max-width="1000px" class="pr-2">
            <v-timeline
              align-top
              dense
            >
              <v-timeline-item
                v-for="plan in plans"
                :key="plan.id"
                small
                :color="plan.id % 2 ? 'teal' : 'pink'"
              >
                <v-row class="pt-1">
                  <v-col cols="3">
                    <strong>{{plan.id}}:30</strong>
                  </v-col>
                  <v-col>
                    <strong>{{plan.name}}</strong>
                    <div class="text-caption mb-2">
                      <v-icon class="text-caption">mdi-clock-outline</v-icon>{{plan.time}}
                    </div>
                  </v-col>
                </v-row>
              </v-timeline-item>
            </v-timeline>
          </v-sheet>
        </v-col></v-container>

        <v-container><v-col align="center">
          <v-sheet
            min-height="70vh"
            max-width="1000px"
            rounded="lg"
            class="mt-6 pa-4"
            elevation="1"
          >

            <!-- <pre v-if="displayFlg">{{ JSON.stringify(plans, null, 2) }}</pre> -->
            <v-row align-content="center" class="my-4">
              <v-col align="center">
                <div class="title font-weight-bold purple--text">予定を入力して素敵な予定を決めよう！</div>
                <v-btn @click="createSchedule" class="purple font-weight-bold white--text mt-4">予定を作成する</v-btn>
              </v-col>
            </v-row>
            <v-row align-content="center">
              <v-col align="center">
                <v-card class="my-2 col-12" v-for="plan in plans" :key="plan.id">
                  <v-card-text class="pa-0 planList">
                    <v-list-item class="pa-0">
                      <v-list-item-content>
                        <v-row align="center">
                          <v-col align-content="center">
                            <v-select :items="canSelectTime" v-model="plan.time" label="時刻" class="ma-0"></v-select>
                          </v-col>
                          <v-col cols="1">
                            〜
                          </v-col>
                          <v-col>
                            <v-select :items="canSelectTime" v-model="plan.time" label="時刻" class="ma-0"></v-select>
                          </v-col>
                        </v-row>
                        <v-text-field v-model="plan.name" label="予定" :counter="20" class="ma-0"></v-text-field>
                      </v-list-item-content>
                      <v-list-item-icon><v-icon @click="deleteContent(plan.id)">mdi-trash-can-outline</v-icon></v-list-item-icon>
                    </v-list-item>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>

            <v-row align-content="center">
              <v-col class="col-lg-8 col-12" align="center">
                <div class="mb-4 title font-weight-bold purple--text text-center">設定</div>
                <div>
                  <v-btn class="purple font-weight-bold white--text" @click="addContent">要素を追加する</v-btn>
                </div>
                <div>
                  <v-btn class="purple font-weight-bold white--text mt-4" @click="addMoving" >移動時間を作成する</v-btn>
                </div>
                <div>
                  <v-btn class="purple font-weight-bold white--text mt-4" @click="removeSchedule" >スケジュールをリセットする</v-btn>
                </div>
              </v-col>
              <v-col class="col-lg-4 col-12">
                <div class="title font-weight-bold purple--text text-center">タイトル</div>
                    <v-avatar>
                      <v-img
                        src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFrida&accessoriesType=Kurt&hairColor=Red&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Wink&eyebrowType=RaisedExcitedNatural&mouthType=Disbelief&skinColor=Brown"
                      ></v-img>
                    </v-avatar>
                    ああああ
                    <v-avatar>
                      <v-img
                        src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairFrizzle&accessoriesType=Prescription02&hairColor=Black&facialHairType=MoustacheMagnum&facialHairColor=BrownDark&clotheType=BlazerSweater&clotheColor=Black&eyeType=Default&eyebrowType=FlatNatural&mouthType=Default&skinColor=Tanned"
                      ></v-img>
                    </v-avatar>
                    <v-avatar>
                      <v-img
                        src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairMiaWallace&accessoriesType=Sunglasses&hairColor=BlondeGolden&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Surprised&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=Pale"
                      ></v-img>
                    </v-avatar>
              </v-col>
            </v-row>
          </v-sheet>
        </v-col></v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- // sortable -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
        return {
          displayFlg : false,
          delimiter: ';;',
          canSelectTime: [
            '8:30',
            '9:00',
            '9:30',
            '10:00',
            '10:30',
            '11:00',
            '11:30',
            '12:00',
            '12:30',
            '13:00',
            '13:30',
            '14:00',
            '14:30',
            '15:00',
            '15:30',
            '16:00',
            '16:30',
            '17:00',
            '17:30',
            '18:00',
            '18:30',
            '19:00',
            '19:30',
            '20:00',
            '20:30',
            '21:00',
            '21:30',
            '22:00',
            '22:30',
            '23:00',
            '23:30',
            '24:00',
          ],
          plans : [
            // {id: 1, time:'8:30-10:30', name: '奈良金魚ミュージアム', description:'テスト'},
            // {id: 2, time:'10:30-12:30', name: '奈良旅行2', description:'テスト'},
            // {id: 3, time:'8:30', name: '奈良旅行3', description:'テスト'},
            // {id: 4, time:'8:30', name: '奈良旅行4', description:'テスト'},
          ],
        }
      },
      // //DOM生成後
      // mounted() {
      // },

      // DOM生成前
      created() {
        const queryParams = window.location.search
        if(queryParams) {
          const query = new URLSearchParams(queryParams)
          const queryList = Array.from(query.entries())
          for (let i=0; i < queryList.length; i++) {
            const planData = queryList[i][1]
            const planArr = planData.split(this.delimiter)
            let plan = {};
            plan.id = this.plans.length + 1
            plan.time = planArr[0]
            plan.name = planArr[1]
            plan.description = planArr[2]
            this.plans.push(plan)
          }
          this.displayFlg = true
        }

      },
      methods: {
        /**
         * 要素を追加する
         */
        addContent() {
          // 最新のIDを取得する
          const newestId = Math.max(...this.plans.map(item => item.id));
          const plan = {id: newestId + 1, time:'', name:'', description:''}
          this.plans.push(plan);
        },
        addMoving() {
          // 最新のIDを取得する
          const newestId = Math.max(...this.plans.map(item => item.id));
          const plan = {id: newestId + 1, time:'', name:'移動', description:''}
          this.plans.push(plan);
        },
        createSchedule(){
          const DELIMITER =this.delimiter 
          this.displayFlg = true
          let queryParams = {};
          console.log(this.plans)
          for (let i = 0; i < this.plans.length; i++) {
            const plan = this.plans[i]
            queryParams[plan.id] = plan.time + DELIMITER + plan.name + DELIMITER + plan.description
          }
          const urlParams = new URLSearchParams(queryParams);
          const url = `?${urlParams.toString()}`;
          console.log(url)
          window.location.href = url
        },
        removeSchedule() {
          const url = window.location.href;
          const new_url = url.replace(/\?.*$/,"");
          window.location.href = new_url
        },

        /**
         * 要素を削除する
         */
        deleteContent(id) {
          console.log(id)
          this.plans = this.plans.filter(plan => plan.id !== id)
        },
      },
      directives: {
      },
    })
  </script>
  <style>
    .v-application{
    font-family: "M PLUS Rounded 1c" !important;
  }
  </style>
</body>
</html>